.book-card-item {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.toolbar {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.mud-select {
    max-width:10rem;
}

.mud-slider{
    max-width: 15rem;
}

.mud-input-number-control {
    max-width: 10rem !important
}

.book-item-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
}

.book-item-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.book-info-start {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.mud-table-container{
    overflow-y: hidden !important
}