@page "/"
@inject IJSRuntime js
@using WoasBookApp.Services
@using BlazorBootstrap
@rendermode InteractiveServer

@using Bogus

<button @onclick="() => Test(10)">Add 10 books</button>

<Accordion>
    <Virtualize Context="book" Items="allBooks">
        <AccordionItem Title="@($"{book.Title} - {book.Author}")">
            <Content>
                @book.Description
            </Content>
        </AccordionItem>
    </Virtualize>
</Accordion>


@code {
    public List<Book> allBooks = new List<Book>();

    public BookFaker bookFaker = new BookFaker(123, Locales.fr);


    void Test(int N)
    {
        allBooks.AddRange(bookFaker.Generate(N));
        Console.WriteLine($"Added {N} more books");
        StateHasChanged();
    }
}